<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva nota</title>
</head>
<body>
    <form action="action/saveform.php" method="POST">
        
        <label>Ingrese el nombre</label>
            <input type="text" name="estudiante">
        <br>
        <label>Descripción</label>
            <input type="text" name="nameinput">
        <br>
        <label>Nota</label>
            <input type="number" name="nota">
        <br>

        <button type="submit">Enviar</button>


    </form>
    <br>
    <a href="inicio.html">Volver</a>
</body>
</html>